<div class="card shadow-sm">
  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Liste des Clients</h5>
    <button class="btn btn-sm btn-light">+ Ajouter</button>
  </div>

  <div class="card-body">
    @if (customerService.customersResource.isLoading())  {
      <div class="text-center my-5">
        <div class="spinner-border text-primary" role="status"></div>
        <p>Chargement des clients...</p>
      </div>
    }

    @else if (customerService.customersResource.isLoading()) {
      <div class="alert alert-danger">
         customersResource.error()?.message || 'Problème inconnu'
      </div>
    }

    @else if (customerService.customersResource.hasValue() && customerService.customersResource.value()!.length === 0) {
      <div class="text-center text-muted my-5">
        Aucun client trouvé
      </div>
    }

    @else  {
      <table  class="table table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Voir</th>
        </tr>
        </thead>
        <tbody>
          @for (customer of customerService.customersResource.value() ?? [] ; track customer.id) {
            <tr>
              <td>{{ customer.id }}</td>
              <td>{{ customer.name }}</td>
              <td>{{ customer.email || '-' }}</td>
              <td>
                <button class="btn btn-sm btn-outline-primary"
                        (click)="viewCustomer(customer)">
                  Voir
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }

    <!-- La modale détail (affichée conditionnellement) -->
    <app-customer-detail
      [customerModel]="selectedCustomer()"
      (close)="closeDetail()">
    </app-customer-detail>

  </div>

</div>
